<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Monedas filtradas</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light"style="background-color: #e3f2fd;">
		<a><img src=https://mapaoficinascert.appspot.com/img/icon_fnmt.svg width="50" height="50"></a>
		
		
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/"><h4>Inicio</h4>
						
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/Monedas"><h4>Monedas</h4></a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/Ejemplares"><h4>Ejemplares</h4></a></li>
				<li class="nav-item"><a class="nav-link" href="/Proveedores"><h4>Proveedores</h4></a></li>
			</ul>
			
		</div>
		
		
		<form action="/FiltrarMoneda">
		<form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Insertar unidad" name="unidad" required>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filtrar moneda</button>
        							
    							
    
  </form>
  </form>
</nav>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th></th>
      <th>Unidad</th>
      <th>Valor</th>
      <th>Diámetro</th>
      <th>Peso</th>
      <th>Metales</th>
      <th>Descripción</th>
      <th></th>
      <th><a class="btn btn-primary" role="button"href="/aniadirMoneda">Añadir</a></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="moneda : ${monedas}">
      <th scope="row"></th>
      <td th:utext= "${moneda.unidad}"></td>
      <td th:utext= "${moneda.valor}"></td>
      <td th:utext= "${moneda.diametro}"></td>
      <td th:utext= "${moneda.peso}"></td>
      <td th:utext= "${moneda.metales}"></td>
      <td th:utext= "${moneda.descripcion}"></td>
      <td></td>
      <td><a th:href="@{/editarMoneda((unidad=${moneda.unidad}),(valor=${moneda.valor}))}">Editar</a></td>
    </tr>
  </tbody>
</table>
<hr></hr>

</body>

</html>